* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.container {
    width: 1440px;
    margin: auto;
    height: 100%;
}

.Our-Pricing {}

.Our-Pricing__header {
    margin-top: 71px;
    margin: auto;
    margin-bottom: 40px;
}

.Our-Pricing__title {
    color: #6E728E;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Our-Pricing__about {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Annually-about {
    color: #6E728E;
    text-align: right;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-right: 24px;
}

.Monthly-about {
    color: #6E728E;
    text-align: right;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-left: 24px;
}

.Pricing-content {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 64px;

}

.Pricing-card {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 40px;
    border: slateblue;
    padding-top: 54px;
}

.card__title {
    color: #6E728E;

    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.card__cost {
    color: #4A4D60;

    font-family: "Montserrat";
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -2.16px;
}

.card___info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #6E728E;

    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;


}

.card__line {
    width: 288px;
    height: 1px;
    
    background: #6E728E;
   
} 
.card__line :active {
    opacity: 0.25;
}

.title {
    color: #fff;
}

.price {
    color: #fff;
}

.Pricing__btn {
    width: 288px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
    

}

.btn-link {
    color: #FFF;

    text-align: center;
    font-family: "Montserrat";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.393px;
    padding-top: 10px;

}

.activ {
    border-radius: 10px;
    background: linear-gradient(135deg, #A2A7F0 -0.05%, #696EDD 100.05%);
    box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
    width: 350px;
    height: 500px;

}

.btn {
    background: #FFF;
}

.bll {
    color: #696EDD;
}

.bll:hover {
    color: white;

}

.btn:hover {
    background: #696EDD;
    color: #fff;

}

.btn1:hover {
    background: #fff;
    color: #696EDD;
    border: 2px solid blue;
}